<div>
    <form (submit)="_saveTodo()">
        <h4>Add todo here</h4>
        <input class="form-control" name="todoTitle" type="text" [(ngModel)]="_todoModel.title" />
        <h4>Todo List</h4>
        <div class="list-group">
            <a href="#" *ngIf="_todoService.todos.length == 0" class="list-group-item">
                No Todos yet!
            </a>
            <a *ngFor="let todo of _todoService.todos" class="list-group-item" routerLink="{{todo.id}}">
                {{todo.title}}
            </a>
        </div>
    </form>
    <button class="btn btn-primary btn-sm" (click)="_open()">Open Modal</button>
    <!--<div cars-list></div>-->
</div>